/**
 * User Profile.
 */
.sociality-icon-picker .input-group-btn {
    font-size: inherit;
}
.sociality-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    color: inherit;
    vertical-align: -.125em;
    fill: currentColor;
}
